[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hypothesize"]
	path = hypothesize
	url = https://github.com/queelius/hypothesize
