[submodule ".registry"]
	path = .registry
	url = https://github.com/queelius/queelius.r-universe.dev
	branch = HEAD
[submodule "algebraic.dist"]
	path = algebraic.dist
	url = https://github.com/queelius/algebraic.dist
[submodule "algebraic.mle"]
	path = algebraic.mle
	url = https://github.com/queelius/algebraic.mle
[submodule "compositional.mle"]
	path = compositional.mle
	url = https://github.com/queelius/compositional.mle
[submodule "dfr.dist"]
	path = dfr.dist
	url = https://github.com/queelius/dfr.dist
[submodule "femtograd"]
	path = femtograd
	url = https://github.com/queelius/femtograd
[submodule "hypothesize"]
	path = hypothesize
	url = https://github.com/queelius/hypothesize
[submodule "likelihood.model"]
	path = likelihood.model
	url = https://github.com/queelius/likelihood.model
[submodule "likelihood.model.series.md"]
	path = likelihood.model.series.md
	url = https://github.com/queelius/likelihood.model.series.md
[submodule "nabla"]
	path = nabla
	url = https://github.com/queelius/nabla
